<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dhbw.familymanager.familymanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="SignUp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:label="Profil"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".Profile.EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".Profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.Profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".photoGallery.CreateFolderActivity"
            android:label="Create Folder"
            android:parentActivityName=".photoGallery.PhotoGalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.photoGallery.PhotoGalleryActivity" />
        </activity>
        <activity
            android:name=".photoGallery.FolderScreenActivity"
            android:label="Fotos"
            android:parentActivityName=".photoGallery.PhotoGalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.photoGallery.PhotoGalleryActivity" />
        </activity>
        <activity
            android:name=".photoGallery.AddPictureActivity"
            android:label="Foto hochladen"
            android:parentActivityName=".photoGallery.FolderScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.photoGallery.FolderScreenActivity" />
        </activity>
        <activity
            android:name=".family.AddMemberActivity"
            android:label="Mitglied hinzufügen"
            android:parentActivityName=".family.ShowMemberActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.family.ShowMemberActivity" />
        </activity>
        <activity
            android:name=".photoGallery.ShowPictureActivity"
            android:label="Foto"
            android:parentActivityName=".photoGallery.FolderScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.photoGallery.FolderScreenActivity" />
        </activity>
        <activity
            android:name=".family.ShowMemberActivity"
            android:label="Mitglieder"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".photoGallery.PhotoGalleryActivity"
            android:label="Fotoalbum"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".Lists"
            android:label="Lists"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="Chat"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="Calendar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.AddEventActivity"
            android:label="Neuer Termin"
            android:parentActivityName=".calendar.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>
        <activity
            android:name=".family.AddFamilyActivity"
            android:label="AddFamily"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dhbw.familymanager.familymanager.MainActivity" />
        </activity>


    </application>

</manifest>